@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

body{
    font-family: 'Unbounded', cursive;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background-color: burlywood;
}

.title{
    margin: 20px ;
    font-size: 70px;
}

.input{
    margin: 20px 40px 20px 40px;
    align-items: center;
    padding: 10px 10px;
    font-family: 'Unbounded', cursive;
    text-align: center;
    color: #000;
    transition-duration: 0.4s;
    background-color: transparent;
    box-shadow: 0 0px 9px #000;
}

.input::placeholder{
    color: rgb(112, 112, 112);
    text-align: center;
}

.input:hover {
    box-shadow: 0 8px 19px #000;
    background: rgb(156, 125, 85);
    font-size: 30px;
}

.spanid {
    margin: 20px 50px;
    align-items: center;
    display: block;
    font-size: 40px;
}

@media only screen and (max-width: 400px) {
    body{
        margin: 20px;
        text-align: center;
    }
    .title {
        width: 80%;
        max-width: 350px;
        font-size: 35px;
        display: flex;
    }

    .input{
        margin: 80px 50px 60px;
        position: relative;
    }

    .input:hover {
        margin: 80px 30px 60px;
        box-shadow: 0 8px 19px #000;
        background: rgb(156, 125, 85);
        font-size: 15px;
    }

    .spanid {
        width: 90%;
        padding: 10%;
        display: flex;
    }
}